<div class= "selection">
<ul class= "buttons">
  <li>
     <a href= "about.html" class="nav-link">About</a>
  </li>
  <li class= "active">
     <a href= "coursenumbersort.html" class="nav-link">Course Numbers</a>
  </li>
  <li>
     <a href= "instructorsort.html" class="nav-link">Instructors</a>
  </li>
  <li>
     <a href= "buildingsort.html" class="nav-link">Buildings</a>
  </li>
</ul>

<h2>Course Numbers</h2>
<table>
   <tr><th>Course Number</th></tr>
   <% data.course.sort{|a, b| a.classNum <=> b.classNum}.each do |row| %>
      <tr>
         <td><%= row.classNum %></td>
         <td><%= row.title %></td>
         <td><%= row.subCat %></td>
         <td><%= row.teach %></td>
      </tr>
   <% end %>
</table>
</div>

<%# {% assign course_list = data.course_sorted_by_course_number | sort %} %>
    <% data.course_sorted_by_course_number.each do |key, value| %>
      <tr>
        <th scope="row"><%= key %></th>
        <td><%= value[:course_number] %></td>
        <td><%= value[:section] %></td>
        <td><%= value[:title] %></td>
        <td><%= value[:building] %></td>
        <td><%= value[:room] %></td>
        <td><%= value[:instructor] %></td>
      </tr>
    <% end %>
  </tbody>