<div class= "selection">
<ul class>
  <li>
     <a href= "index.html" class="nav-link">About</a>
  </li>
  <li class= "active">
     <a href= "coursenumbersort.html" class="nav-link">Course Numbers</a>
  </li>
  <li>
     <a href= "instructorsort.html" class="nav-link">Instructors</a>
  </li>
  <li>
     <a href= "buildingsort.html" class="nav-link">Buildings</a>
  </li>
</ul>

<BR>
<h2>Sort by Course Number</h2>
<p>Please check the table below to find an alphabetical list of courses sorted by course number.
   <br>
   Please note that some information in the table may be empty because the values have not been assigned in the website yet.
</p>

<table>
      <tr>
         <th scope="col">Course Number</th>
         <th scope="col">Section</th>
         <th scope="col">Title</th>
         <th scope="col">Building</th>
         <th scope="col">Instructor</th>
      </tr>

   <%data.course.sort_by {|_key, value| [value[:subCat]? 1 : 0, value[:subCat]]}.each do |key, value|%> 
      <tr>
         <td><%= value[:subCat] %></td>
         <td><%= value[:section] %></td>
         <td><%= value[:title] %></td>
         <td><%= value[:building] %></td>
         <td><%= value[:instructor] %></td>
      </tr>
   <% end %>
</table>
</div>