<div class= "selection">
<ul class= "buttons">
  <li>
     <a href= "index.html" class="nav-link">About</a>
  </li>
  <li>
     <a href= "coursenumbersort.html" class="nav-link">Course Numbers</a>
  </li>
  <li  class= "active">
     <a href= "instructorsort.html" class="nav-link">Instructors</a>
  </li>
  <li>
     <a href= "buildingsort.html" class="nav-link">Buildings</a>
  </li>
</ul>

<h2>Sort by Instructor</h2>
<p> Please check the table below to find an alphabetical list of courses sorted by instructor. Please note that some information in the table may be empty because the values have not been assigned in the website yet.</p>
<table>
   <head>
      <style>
         table, th, td {
         border: 1px solid black;
      }
      </style>
   </head>

   <thead>
      <tr>
         <th scope="col">Course Number</th>
         <th scope="col">Section</th>
         <th scope="col">Title</th>
         <th scope="col">Building</th>
         <th scope="col">Room</th>
         <th scope="col">Instructor</th>
      </tr>
   </thead>

   <%data.course.sort_by {|_key, value| [value[:instructor]? 1 : 0, value[:instructor]]}.each do |key, value|%> 
      <% if !value[:instructor].blank? %>
         <tr>
            <td><%= value[:course_number] %></td>
            <td><%= value[:section] %></td>
            <td><%= value[:title] %></td>
            <td><%= value[:building] %></td>
            <td><%= value[:room] %></td>
            <td><%= value[:instructor] %></td>
         </tr>
      <% end %>
   <% end %>

   <%data.course.sort_by {|_key, value| [value[:instructor]? 1 : 0, value[:instructor]]}.each do |key, value|%>  
      <% if value[:instructor].blank? %>
         <tr>
            <td><%= value[:course_number] %></td>
            <td><%= value[:section] %></td>
            <td><%= value[:title] %></td>
            <td><%= value[:building] %></td>
            <td><%= value[:room] %></td>
            <td><%= value[:instructor] %></td>
         </tr>
      <% end %>
   <% end %>

</table>

</div>