<div class= "selection">
<ul class= "buttons">
  <li>
     <a href= "about.html" class="nav-link">About</a>
  </li>
  <li>
     <a href= "coursenumbersort.html" class="nav-link">Course Numbers</a>
  </li>
  <li  class= "active">
     <a href= "instructorsort.html" class="nav-link">Instructors</a>
  </li>
  <li>
     <a href= "buildingsort.html" class="nav-link">Buildings</a>
  </li>
</ul>

<h2>Sort by Instructor</h2>
<p> Some courses have not been assigned an instructor yet. Please scroll to the botttom to find an alphabetical list of courses with valid instructors.</p>
<table>
   <head>
      <style>
         table, th, td {
         border: 1px solid black;
      }
      </style>
   </head>

   <thead>
      <tr>
         <th scope="col">Course Number</th>
         <th scope="col">Section</th>
         <th scope="col">Title</th>
         <th scope="col">Building</th>
         <th scope="col">Room</th>
         <th scope="col">Instructor</th>
      </tr>
   </thead>

   <%data.course.sort_by {|_key, value| [value[:instructor]? 1 : 0, value[:instructor]]}.each do |key, value|%> 
      <tr>
         <td><%= value[:course_number] %></td>
         <td><%= value[:section] %></td>
         <td><%= value[:title] %></td>
         <td><%= value[:building] %></td>
         <td><%= value[:room] %></td>
         <td><%= value[:instructor] %></td>
      </tr>
   <% end %>
</table>

</div>